/* Event.css */
.intro {
    font-family: sans-serif;
    text-align: center;
    margin: 150px;
    font-size: 30px;
    /* background: linear-gradient(#76c0d7,#FFFFFF); */
    
    
}


.intro h4 {
    font-size: 2cqw;
    color: #333;
    opacity: 0; 
    animation: fadeInUp 2s forwards; 
    color: #0E86A9;

}

.intro h1 {
    font-size: 3.5rem;
    color: #000;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    opacity: 0;
    animation: fadeInUp 2s 0.5s forwards; 
    color: #0E86A9;

}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(345px, 1fr)); 
    gap: 20px;
    padding: 20px;
}

.card {
    flex: 1 1 calc(33.333% - 20px); 
    max-width: 345px; 
    box-sizing: border-box; 
}


